<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>

    <%- include("sections/sidebar") %>

  <div class="overview">

    <div class="stats">

      <div class="totalPosts">
        <h2>Posts</h2>
        <%- stats.totalPosts %>
      </div>

      <div class="totalPosts">
        <h2>Posts</h2>
        <%- stats.totalPosts %>
      </div>

      <div class="totalPosts">
        <h2>Posts</h2>
        <%- stats.totalPosts %>
      </div>

    </div>

  </div>


  </body>

  <%- include("sections/footer") %>

</html>
