<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>

    <%- include("sections/sidebar") %>

  <div class="listPosts">

    <form id="form" class="editForm" method="post" action="/dashboard/editpost">
      <% if(errors){ %>
        <div class="errors">Attention: </br> <% errors.forEach(i =>{ %>
            <%= i.msg %></br>
          <%   }) %></div>
      <% } %>
      <input name="id" type="hidden" value="<%- post.id %>">
      <label class="editLabel" for="title">Title</label>
      <input class="editField" name="title" type="text" value="<%- post.title %>" />

      <textarea name="content" id="editor"><%- post.content %></textarea>

      <input type="submit" class="editSubmit" value="Edit Post"/>


    </form>



  </div>


  </body>

  <%- include("sections/footer") %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.3/tinymce.min.js"></script>



  <script>
    tinymce.init({
     selector: '#editor',
     theme: 'modern',
     plugins: 'advlist autolink link image lists charmap print preview code',
     branding: false,
     image_advtab: true,
    });

  </script>

</html>
