<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>

    <%- include("sections/sidebar") %>

  <div class="listPosts">

    <form id="form" class="editForm" method="post" action="/dashboard/editproject" encType="multipart/form-data">
      <% if(errors){ %>
        <div class="errors">Attention: </br> <% errors.forEach(i =>{ %>
            <%= i.msg %></br>
          <%   }) %></div>
      <% } %>
      <label class="editLabel" for="title">Title</label>
      <input class="editField" name="title" type="text" value="" placeholder="Post Title" value="<%- project.title %>"/>

      <label class="editLabel" for="link">Link</label>
      <input class="editField" name="link" type="text" value="" placeholder="Project URL" value="<%- project.link %>"/>

      <label class="editLabel" for="git">Git</label>
      <input class="editField" name="git" type="text" value="" placeholder="Git Url" value="<%- project.git %>"/>

      <label class="editLabel" for="language">Languages</label>
      <input class="editField" name="language" type="text" value="" placeholder="C++, Java, Javascript..." value="<%- project.language %>"/>

      <label class="editLabel" for="image">Thumbnail</label>
      <input class="editField" name="image" type="file" value=""/>

      <textarea name="description" id="editor"><%- project.decription %></textarea>

      <input type="submit" class="editSubmit" value="Edit Project"/>


    </form>



  </div>


  </body>

  <%- include("sections/footer") %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.3/tinymce.min.js"></script>


  <script>
    tinymce.init({
      selector: '#editor',
      theme: 'modern',
      plugins: 'advlist autolink link image lists charmap print preview code',
      branding: false,
      image_advtab: true,
    });

  </script>

</html>
