<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>


    <div id="content">

      <section class="header-parallax">
        <h1><%= settings.headline %></h1>
      </section>

      <% posts.forEach( post =>{ %>
        <article class="animated <%= settings.animation %>">
          <h1><%- post.title %></h1>
          <%- post.content %>
        </article>
      <% }) %>

    </div>



  </body>

  <%- include("sections/footer") %>

</html>
