<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>

    <%- include("sections/sidebar") %>

  <div class="listPosts">

    <form id="form" class="editForm" method="post" action="/dashboard/newpost">
      <% if(errors){ %>
        <div class="errors">Attention: </br> <% errors.forEach(i =>{ %>
            <%= i.msg %></br>
          <%   }) %></div>
      <% } %>
      <label class="editLabel" for="title">Title</label>
      <input class="editField" name="title" type="text" value="" placeholder="Post Title"/>

      <textarea name="content" id="editor"></textarea>

      <input type="submit" class="editSubmit" value="Create Post"/>


    </form>



  </div>


  </body>

  <%- include("sections/footer") %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.3/tinymce.min.js"></script>


  <script>
    tinymce.init({
     selector: '#editor'
    });

  </script>

</html>
