<html>
  <head>
    <title>Home</title>
      <%- include("sections/header") %>
  </head>
      <%- include("sections/menu") %>
  <body>

    <%- include("sections/sidebar") %>

  <div class="listPosts">

    <a href="/dashboard/newpost"><button >New Post</button></a>

      <div class="postContainer">
        <div class="postid">ID</div>
        <div class="">Title</div>
        <div class="largeContent">Content Preview</div>
        <div class="mobileContent">Content Preview</div>
        <div>Options</div>
      </div>
    <% posts.forEach( post => { %>
      <div class="postContainer">
        <div class=""> <%- post.id %> </div>
        <div class=""> <%- post.title %> </div>
        <span class="largeContent"> <%= post.content %> </span>
        <span class="mobileContent"> <%= post.contentSM %> </span>
        <a href="/dashboard/editpost?id=<%- post.id %>">Edit</a>
        <a href="/dashboard/deletepost?id=<%- post.id %>">Delete</a>
      </div>
    <% }) %>



  </div>


  </body>

  <%- include("sections/footer") %>

</html>
